* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  width: 95%;
  max-width: 500px;
  background: #111827;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

h1 {
  text-align: center;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #9ca3af;
  margin-bottom: 15px;
}

.chat-box {
  background: #020617;
  height: 300px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.bot, .user {
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 6px;
  max-width: 90%;
}

.bot {
  background: #1e293b;
}

.user {
  background: #2563eb;
  margin-left: auto;
  text-align: right;
}

.input-area {
  display: flex;
  gap: 5px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}
button:active {
  background: #1e40af;
}

.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.light-mode {
    background: #f1f5f9;
    color: #020617;
}

.light-mode .app {
    background: #ffffff;
}

.light-mode .chat-box {
    background: #e5e7eb;
}

.light-mode .bot {
    background: #c7d2fe;
    color: #020617;   
}

.light-mode .user {
    background: #60a5fa;
    color: #020617;
}

.light-mode input {
    background: #f9fafb;
    color: #020617;
}